<div class = "pComment">
	<div class = "posthead">
		<div class = "poster">
			<div class = lefthead>
				<a href = "/{{username}}/profile" title = "{{fName}} {{lName}}">
				<img id = "PFP" src = "images/defaultPFP.png" width = "50" height = "50">
				</a>
			</div>
			<div class = "righthead">
				<a class = "person" href = "/{{username}}/profile">{{username}}</a>
				<p class = "date">{{date}}</p>
			</div>
		</div>							
	</div>
	<hr>
	<p class = "postcontent">
		{{content}}		
	</p>
	{{#if owner}}
		{{> myCmntBtns}}
	{{/if}}			
</div>