<div class = "pContribution pQuestion" id = "{{postID}}"> <!--id = "pPost"-->
	<div class = "posthead">
		<div class = "poster">
			<div class = lefthead>
				<img id = "PFP" src = "../images/defaultPFP.png" width = "50" height = "50">
				</a>
			</div>
			<div class = "righthead">
				<a class = "person" href = "/otherAccount/{{username}}">{{username}}</a>	
				<p class = "date">{{date}}</p>
			</div>
		</div>
		<div class = "typehead">
			<p class = "type">{{typeCQ}}</p>
		</div>								
	</div>
	<hr>
	<div class = "postcontent">
		<p>
			{{content}}
			<br>
			{{#if file}}
				<img src="../post_file_upload/{{file}}" width="500">
			{{/if}}

		</p>
	</div>
	<div class = "voteCnt">
		<p id = "upCnt"> {{upCtr}} </p><p> &#8679 </p>
		<p id = "downCnt"> {{downCtr}} </p><p> &#8681 </p>
	</div>
	{{#if owner}}
		{{> myPostBtns}}
		{{else}}
		{{> otherPostBtns}}
	{{/if}}		
</div>