<!DOCTYPE html>

<html>
	<head>
		<title> Edit Account </title>
		<!-- <link rel="stylesheet" type="text/css" href= "design.css"> -->	
		<meta name="description" content="Edit Account Page">
		<meta name="author" content="Andrea Jean Marcelo">			
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
			body {			
				background-image: url("../images/myaccountbg.jpg");
	    		background-repeat: no-repeat;
				background-attachment: fixed;
    			background-position: center;
    			background-size: cover;
    			height: 100%;
    			width: 100%;
				margin: 0px;
    			display: flex;
				align-items: center;
				justify-content: center;    			
			}

			#editAccTitle, h3, .buttons {
				font-family: 'Montserrat', sans-serif;
			}

			label {
				font-family: 'Lato', sans-serif;
			}

			h1 {
				font-size: 10vh;
				color: #fff9dd;
				margin: 0;
			}

			h3 {
				background-color: #d1a748;
			}

			.btn {
  				border: 2px solid black;
  				color: white;
  				padding: 2px 24px;
  				cursor: pointer;				
				width: 20%;
				font-size: 3vh;
				background-color: #d1a748;
				border-color: #d1a748; 
				border-radius: 12px;
			}

			input:hover[type="submit"] {
				border-color: #d1a748;
				background-color: #fff9dd;
				color: #d1a748;
			}

			label {
				display: inline-block;
				text-align: left;
				color: #fff9dd;
				font-size: 3vh;
			}	

			.editAccContents {
				width:80%;
				height:100%;
				padding-top: 2%;			
				background-color: #8aa169;
				text-align: center;
				align-items: center;
				justify-content: center;
			}

			#accountEditForm {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			#leftHalf, #rightHalf {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 0% 8%;
			}

			#fName, #lName, #password, #birthday, #country, #email, #business, #years {
				width: 100%;
			}

			#label {
				text-align: left;
			}

			#err {
				margin: 0%;
				padding: 1%;
				color: #800000;
				font-weight: bold;
				width: 40%;
			}

			.error {
				display: flex;
				justify-content: center;
				width: 100%;
			}

			.accdets {
  				border: 3px solid #8aa169;
  				color: #8aa169;
  				padding: 10px 18px;
  				cursor: pointer;				
				width: 20%;
				font-size: 2vh;
				background-color: #fff9dd;
				border-color: #d1a748;
				border-radius: 12px;
			}

			.accdets:hover, .accdets:focus {
				border: 3px solid #8aa169;
				border-radius: 12px;
				background-color: #fff9dd;
			}

			#firstpart {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50%;
				font-family: 'Lato', sans-serif;
			}

			.error {
			    height: 12px;
			    font-size: 13px;
			    text-align: left;
			    color: black;
			}

			.error:empty {
			    height: 12px;
			    text-align: left;
			    color: black;
			}	

		#t1 {
			background-color: #fff9dd;
			color: #555251;
			border-radius: 20px;
			width: 100%;
			font-weight: normal;
			margin: 0;
			padding: 4%;
			font-size: 2.0vh;
			border: 3px solid #8aa169;
			cursor: pointer;
			border-color: #d1a748;			
		}	
		#bio {
			width: 40%;
			display: flex;
			flex-direction: column;
			align-items: center;

		}
		#t1:hover, #t1:focus {
			border: 3px solid #8aa169;
			border-radius: 20px;
			background-color: #fff9dd;
		}								
		</style>
	</head>

	<body id="editAccBody">
		<div class="editAccContents">	
			<h1 id="editAccTitle"> Edit Account </h1>	
			<br><br>
			<form id = "accountEditForm" method="post"> 
				<div id="firstpart">	
					<div id = "leftHalf">
						<label id="label">First Name</label>
						<input class="accdets" type="text" placeholder="First Name" id="fName" name="fName" value="{{fName}}">
						<p id="fNameError" class = "error">{{fNameError}}</p>
						<label id="label1">Last Name</label>
						<input class="accdets" type="text" placeholder="Last Name" id="lName" name="lName" value="{{lName}}">
						<p id="lNameError" class = "error">{{lnameError}}</p>	
						<label id="label1">Password</label>
						<input class="accdets" type="password" placeholder="Password" id="password" name="password" value="">
						<p id="passwordError" class = "error">{{passwordError}}</p>
						<label id="label1">Existing Email</label>
						<input class="accdets" type="text" placeholder="Email" id="email" name="email" value="{{email}}">
						<p id="emailError" class = "error">{{emailError}}</p>							
						<br>
					</div>
					<div id = "rightHalf">
						<label id="label">Birthday</label>
						<input class="accdets" type="date" id="birthday" name="birthday" 
								value="{{birthday}}" min="1900-01-01" max="2021-12-31">
						<p id="birthdayError" class = "error">{{birthdayError}}</p>		
						<label id="label1">Country</label>
						<input class="accdets" type="text" placeholder="Country" id="country" name="country" value="{{country}}">
						<p id="countryError" class = "error">{{countryError}}</p>
						<label id="label">Plant Business Name</label>
						<input class="accdets" type="text" placeholder="Plant Business Name" id="business" name="business" value="{{businessName}}">
						<br><br><label id="label">Years of business</label>
						<select class="accdets" name="years" id="years" value="{{businessYrs}}">
							<option value=""></option>
							<option value="less than a year">less than a year</option>
							<option value="1-2 year">1-2 years</option>
							<option value="2-3"> 2-3 years</option>
							<option value="3-4 years">3-4 years</option>
							<option value="4-5 years">4-5 years</option>
							<option value="more than 5 years">more than 5 years</option>	
						</select>						
					</div>
				</div>
				<div id = "bio">
					<label id="label">Your Bio</label>
					<textarea type = "text" class = "text" id = "t1" name = "bio" rows = "15" cols = "10" maxlength = "550" placeholder = "Write a short introduction about yourself!">{{bio}}</textarea>
				</div>
				<div class = "error">
					<p id = "err"></p>
				</div>
				<br><br><br>							
				<input type="submit" id="submit" value="Save Details" class = "btn" name = "savedetsBtn">
			</form>		
			<br><br><br>	
		</div>	
	</body>
</html>
