<!DOCTYPE html>

<html>
	<head>
		<title>Edit Comment Form</title>
		<!-- <link rel="stylesheet" type="text/css" href= "design.css"> -->	
		<meta name="description" content="Posting Form Page">
		<meta name="author" content="Andrea Jean Marcelo">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
			body {			
				background-image: url("images/signupbg.jpg");
	    		background-repeat: no-repeat;
				background-attachment: fixed;
    			background-position: center;
    			background-size: cover;
    			height: 100%;
    			width: 100%;
				margin: 0px;
			}

			h1 {
				font-size: 10vh;
				color: #fff9dd;
				margin: 0;
				width: 100%;
			}

			button {
  				border: 2px solid black;
  				color: white;
  				padding: 2px 24px;
  				cursor: pointer;				
				width: 25%;
				font-size: 3vh;
				background-color: #d1a748;
				border-color: #d1a748; 
				border-radius: 12px;
			}

			button:hover {
				border-color: #d1a748;
				background-color: #fff9dd;
				color: #d1a748;
			}

			label {
				display: inline-block;
				text-align: left;
				color: #fff9dd;
				font-size: 3vh;
			}

			.maintabs {
				background-color: #8aa169;
				position: relative;
				top: 0;
				left: 0;
				width: 100%;
				display: flex;
				justify-content: flex-start;
			}

			.maintabs a {
				margin-top: auto;
				margin-bottom: auto;
				padding: 12px 12px;
				text-decoration: none;
				color: #fff9dd;
				text-align: center;
				font-weight: 300;
				font-size: 2.0vh;
			}

			.maintabs a:hover {
				background-color: #d1a748;
				color: #fff9dd;
			}

			.maintabs, #posttitle, #submitbutton {
				font-family: 'Montserrat', sans-serif;
			}

			.error {
				font-family: 'Lato', sans-serif;
			}

			.postdets {
  				border: 3px solid #8aa169;
  				color: #8aa169;
  				padding: 10px 18px;
  				cursor: pointer;				
				width: 25%;
				font-size: 2vh;
				background-color: #fff9dd;
				border-color: #d1a748;
				border-radius: 12px;
			}

			.postdets:hover, .postdets:focus {
				border: 3px solid #8aa169;
				border-radius: 12px;
				background-color: #fff9dd;
			}

			.message {
  				border: 5px solid #d1a748;
  				color: #8aa169;
  				padding: 14px 28px;
  				cursor: pointer;				
				width: 83.5%;
				font-size: 2vh;
				background-color: #fff9dd;
				border-color: #d1a748;
				border-radius: 12px;
			}

			.message:hover, .message:focus {
				border: 5px solid #8aa169;
				border-radius: 12px;
				background-color: #fff9dd;
			}

			.error {
				width: 50%;
			}

			#err {
				margin: 1%;
				padding: 1%;
				color: #800000;
				border-radius: 50px;
				font-weight: bold;
				width: 80%;
				text-align: center;
			}

			#postContents {
				padding: 4% 4%;			
				background-color: #8aa169;
				border-radius: 12px;
				width: 60%; 								
			}
			
			#submit {
				color: #8aa169;
				text-decoration: none;
			}
					
			#plant, #ptype {
				width:30%;
			}	
			
			#parentPostContents {
				margin: auto;
				padding: 2% 2%;	
				display: flex;
				justify-content: center;
				align-items: center;						
			}	
			#postlabel {
				padding-left:2%;
			}
		</style>
	</head>

	<body id="postBody">
		<!-- Main Tabs -->
		{{> headerM}}
		
		<div id="parentPostContents">
			<div id="postContents">
				<h1 id="posttitle">Edit Comment Form</h1>
<<<<<<< Updated upstream

				<p id="todayError" class = "error">{{todayError}}</p>
				<p id="plantError" class = "error">{{plantError}}</p>
				<p id="ptypeError" class = "error">{{ptypeError}}</p>
				<p id="msgError" class = "error">{{msgError}}</p>
=======
>>>>>>> Stashed changes
				<br><br>
					<textarea class="message" id="msg" name="msg"placeholder="Write something.." style="height:200px">{{content}}</textarea>
				<br><br>
					<input class="postdets" type="file" id="imgf" name="imgf">	
				<br><br>
				<div class = "error">
					<p id = "err"></p>
				</div>
				<br><br><br>						
				<button class="buttons" id="submitbutton">Submit</button>
			</div>
		</div>
		<script>
			function clicksubmit ()
			{
				alert("Your submission has been posted.")
			}	
			var submitButton = document.getElementById("submitbutton");
			submitButton.onclick = clicksubmit;			
		</script>	
	</body>
</html>
