<!DOCTYPE html>

<html>
	<head>
		<title> {{pName}} </title>
		<meta name="description" content="View a Specific Page for Members">
		<meta name="author" content="Andrea Jean Marcelo">

		<link rel = "stylesheet" type = "text/css" href = "/css/plants.css">
		<link rel = "stylesheet" type = "text/css" href = "/css/postsGen.css">
		<link rel = "stylesheet" type = "text/css" href = "/css/postsM.css">
		<script type = "text/javascript" src = "cmntBtns.js"></script>
	</head>

	<body id="fplantBody">
		<!-- Main Tabs -->
		{{#if username}}
			{{> headerM}}
		{{else}}
			{{> headerV}}
		{{/if}}
		
		<div id = "parent">
			<div id = "page">
				<div id = "pMain">
					<div class = "pInfo">
						<div id = "pPic"><img src="{{pPhoto}}" width = "200" height = "200"></div>
						<div id = "pBio">
							<h2 id = "pTitle">{{pName}}</h2>
							<p class = "addInfo"><b class = "pDesc">Scientific Name: </b>{{pScientific}}</p>
							<p class = "addInfo"><b class = "pDesc">Outdoor/Indoor: </b>{{pInOut}}</p>
							<p class = "addInfo"><b class = "pDesc">Watering Care: </b>{{pWater}}</p>
							<p class = "addInfo"><b class = "pDesc">Origin: </b>{{pOrigin}}</p>
							<p class = "addInfo"><b class = "pDesc">Light: </b>{{pLight}}</p>
							<p class = "addInfo"><b class = "pDesc">Family: </b>{{pFamily}}</p>
						</div>
					</div>
					<div id = "pWall">
						<div class = "pContribution" id = "c2">
							{{#each posts}}
								{{> post}}
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
