<!DOCTYPE html>

<html>
	<head>
		<title> View Post </title>
		<meta name="description" content="View a Contribution for Members">
		<meta name="author" content="Andrea Jean Marcelo">

		<link rel = "stylesheet" type = "text/css" href = "css/postsGen.css">
		<link rel = "stylesheet" type = "text/css" href = "css/postCmnts.css">
		<link rel = "stylesheet" type = "text/css" href = "css/postsM.css">
	</head>

	<body id="contributionMBody">	
		<!-- Main Tabs -->
		{{#if role}}
			{{> headerM}}
		{{else}}
			{{> headerV}}
		{{/if}}

		<div id = "parent">
			<div id = "onePage">
				<div id = "pCeiling">
					<div id = "pPost">
						<div class = "posthead">
							<div class = "poster">
								<div class = lefthead>
									<a href = "AndreiM.html" title = "Andrei De La Cruz">
									<img id = "PFP" src = "images/defaultPFP.png" width = "50" height = "50">
									</a>
								</div>
								<div class = "righthead">
									<!-- Trying to convert anchor tag(s) below this comment -->
									<a class = "person" href = "AndreiM.html"> {{username}} </a>
									<p class = "date">{{date}}</p>
								</div>
							</div>
							<div class = "typehead">
								<p class = "type">{{type}}</p>
							</div>								
						</div>
						<hr>
						<div class = "postcontent">
							<p>
								{{content}}		
							</p>
						</div>
						<div class = "voteCnt">
							<p id = "upCnt"> 0 </p><p> &#8679 </p>
							<p id = "downCnt"> 0 </p><p> &#8681 </p>
						</div>
						{{#if role}}
							{{#if owner}}
								{{> myPostBtns}}
							{{else}}
								{{> otherPostBtns}}
							{{/if}}
						{{/if}}

					</div>
				</div>
				<div id = "pWallCmnt">
					{{> comment}}
					<!-- <div class = "pComment">
						<div class = "posthead">
							<div class = "poster">
								<div class = lefthead>
									<a href = "MaritesM.html">
									<img id = "PFP" src = "images/defaultPFP.png" width = "50" height = "50">
									</a>
								</div>
								<div class = "righthead">
									<a class = "person" href = "MaritesM.html"> @marzzz </a>
									<p class = "date">12-31-2020</p>
								</div>
							</div>							
						</div>
						<hr>
						<p class = "postcontent">
							<b>TEMPORARY</b><br>
							Thank you so much for this info!<br>		
						</p>				
					</div> -->

					<!-- <div class = "pComment">
						<div class = "posthead">
							<div class = "poster">
								<div class = lefthead>
									<a href = "MaritesM.html">
									<img id = "PFP" src = "images/defaultPFP.png" width = "50" height = "50">
									</a>
								</div>
								<div class = "righthead">
									<a class = "person" href = "MaritesM.html"> @marzzz </a>
									<p class = "date">12-31-2020</p>
								</div>
							</div>							
						</div>
						<hr>
						<p class = "postcontent">
							Thank you so much for this info!<br>		
						</p>				
					</div>
					<div class = "pComment">
						<div class = "posthead">
							<div class = "poster">
								<div class = lefthead>
									<a href = "myAccount.html">
									<img id = "PFP" src = "images/defaultPFP.png" width = "50" height = "50">
									</a>
								</div>
								<div class = "righthead">
									<a class = "person" href = "myAccount.html"> Me </a>
									<p class = "date">01-04-2021</p>
								</div>
							</div>							
						</div>
						<hr>
						<p class = "postcontent">
							I'll keep this in mind<br>		
						</p>				
					</div>
					<div class = "pComment">
						<div class = "posthead">
							<div class = "poster">
								<div class = lefthead>
									<a href = "JuarlitoM.html">
									<img id = "PFP" src = "images/defaultPFP.png" width = "50" height = "50">
									</a>
								</div>
								<div class = "righthead">
									<a class = "person" href = "JuarlitoM.html"> @j_snts </a>
									<p class = "date">01-06-2021</p>
								</div>
							</div>							
						</div>
						<hr>
						<p class = "postcontent">
							Noted!<br>		
						</p>				
					</div> -->
				</div>
			</div>
		</div>
	</body>
</html>
